# Machine Learning / Data Science Course Notes #

This is the basic setup for using pandas. First you import of course. Then you set the path location of your data. Next you read the data from the file using Pandas then use the describe method to print the data

In [61]:
import pandas as pd

house_data_location = "./melb_data.csv"

house_data = pd.read_csv(house_data_location)

house_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

using the columns property allows you to find the entries on the top of the charts

In [62]:
house_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

using dropna(aix=*axis to drop*) will remove missing values from the data

In [63]:
house_data.dropna(axis=1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0

To select the column you want to predict using the data use dot notation. This is called the target prediction and should be saved in the variable "y" by convention.

In [64]:
y = house_data.Price
y

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

You can select multiple "features"/values to reduce the amount of noise in our data models. you can do this by making an array of the desired features. By convention the array should be named "X"

In [65]:
house_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = house_data[house_features]
X.describe()

              Rooms      Bathroom       Landsize     Lattitude
count  13580.000000  13580.000000   13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203
std        0.955748      0.691712    3990.669241      0.079260
min        1.000000      0.000000       0.000000    -38.182550
25%        2.000000      1.000000     177.000000    -37.856822
50%        3.000000      1.000000     440.000000    -37.802355
75%        3.000000      2.000000     651.000000    -37.756400
max       10.000000      8.000000  433014.000000    -37.408530

You can use the head() function on X or the "features" in order to show a sample of the first few pieces of data in the dataframe.

In [66]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude
0      2       1.0     202.0   -37.7996
1      2       1.0     156.0   -37.8079
2      3       2.0     134.0   -37.8093
3      3       2.0      94.0   -37.7969
4      4       1.0     120.0   -37.8072

A library called scikit-learn can be used to create the models based off of the data given in our dataframes. To use the  library use this code snippet: we first import the library. Then we create the variable for our model which we will use on our data. Then we fit the model with our target prediction and our features.

In [67]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
house_model = DecisionTreeRegressor(random_state=1)

# Fit model
house_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

Once we have specified what we want to predict, y (in this case ), and our features used to predict the target prediction, X we can call the call the predict method on the dataset with X as a parameter.

In [70]:
house_model.predict(X.head())

[1480000. 1035000. 1465000.  850000. 1600000.]