# Machine Learning / Data Science Course Notes #

This is the basic setup for using pandas. First you import of course. Then you set the path location of your data. Next you read the data from the file using Pandas then use the describe method to print the data

In [1]:
import pandas as pd

house_data_location = "./melb_data.csv"

house_data = pd.read_csv(house_data_location)

house_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

using the columns property allows you to find the entries on the top of the charts

In [2]:
house_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

using dropna(aix=*axis to drop*) will remove missing values from the data

In [3]:
house_data.dropna(axis=1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0

To select the column you want to predict using the data use dot notation. This is called the target prediction and should be saved in the variable "y" by convention.

In [4]:
y = house_data.Price
y

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

You can select multiple "features"/values to reduce the amount of noise in our data models. you can do this by making an array of the desired features. By convention the array should be named "X"

In [5]:
house_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = house_data[house_features]
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

You can use the head() function on X or the "features" in order to show a sample of the first few pieces of data in the dataframe.

In [6]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

A library called scikit-learn can be used to create the models based off of the data given in our dataframes. To use the  library use this code snippet: we first import the library. Then we create the variable for our model which we will use on our data. Then we fit the model with our target prediction and our features.

In [7]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
house_model = DecisionTreeRegressor(random_state=1)

# Fit model
house_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

Once we have specified what we want to predict, y (in this case ), and our features used to predict the target prediction, X we can call the predict method on the dataset with X as a parameter.

In [8]:
house_model.predict(X.head())

array([1480000., 1035000., 1465000.,  850000., 1600000.])

There are many ways to check the accuracy/quality of a model. One of the simplist ways of doing this is using the MAE metric short for Mean Absolute Error. Simply put MAE can be calculated by subtracting the actual value and your predicted value. e.g. A house is predicted to have a value of 250,000 while it actually has a value of 300,000. this would give you a MAE metric of 50,000. We repeat that for all predictions made for the data frame and average it out.

We can use the sklearn library again to find the MAE metric of a model very easily.

In [9]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = house_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1125.1804614629357

It is good practice to split your training data into two pieces. One half should be used as training data while the other half should be used as validating data. This is because it will prevent the model from having strange biases about factors that may truely not have an affect on the target prediction. Once again this can be implemented with the sklearn library.

In [10]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
house_model = DecisionTreeRegressor()
# Fit model
house_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = house_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

249181.24104074616

This shows the problems with using a very simple metric to measure the accuracy of your model. With the MAE metric the predictions were only off by around ~1000 which is extremely accurate (within > %1>) while if we tried using out of sample data our estimates were much further off (250,000! almost a quarter the cost of a house).

These trees are fairly simply and have just been spliting into two parts at each branch. This is an okay way to make simple predictions however as the tree gets more and more branches we lead to a problem called overfitting. Overfitting simply means that we are getting too precise with how we are spliting our data thereby limiting the amount of data we have on specific conditions for each leaf of the decision tree.

Additionally we can also run into a problem called underfitting at the other end of the spectrum where we have so little division that there is no real correlation between anything in our data groups to allow for acurate predictions.

A simple way to control the accuracy to prevent us from overfitting or underfitting our data is to use the max_lead_nodes to prevent us from creating too many potential data groups.

In [11]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [12]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  354662
Max leaf nodes: 50  		 Mean Absolute Error:  266447
Max leaf nodes: 500  		 Mean Absolute Error:  231301
Max leaf nodes: 5000  		 Mean Absolute Error:  249163

Once we find the optimal number of leaves in our decision tree we can now use all of our data (yes including our validation data) in the final deployment of our decision tree. When we use our decision tree regressor function make sure to use the max_leaf_nodes argument and set it to the optimal amount of leaves to get the best accuracy

In [13]:
# Fill in argument to make optimal size and uncomment
final_model = DecisionTreeRegressor(max_leaf_nodes=100, random_state=0)

# fit the final model and uncomment the next two lines
final_model.fit(X, y)

DecisionTreeRegressor(max_leaf_nodes=100, random_state=0)